.filterContainer {
    margin: 0 auto;
    margin-top: -10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 327px;
    height: 48px;
    border-radius: 5px;
    background: var(--bg-todo);
    box-shadow: var(--box-shadow);
}

.filterContainer button {
    border: none;
    background: var(--bg-todo);
    color: var(--input-placeholder);
    font-family: Josefin Sans;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.194px;
}

.filterContainer button:hover {
    cursor: pointer;
    color: var(--button-hover);
}

.filterContainer button:nth-of-type(1) {
    padding-left: 81px;
}

.filterContainer button:nth-of-type(3) {
    padding-right: 80px;
}
