.todoContainer {
    margin: 0 auto;
    width: 327px;
    min-height: 52px;
    position: relative;
    top: -26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--circle);
    background: var(--bg-todo);
    color: var(--text-todo);
}

.firstTodo {
    border-radius: 5px 5px 0 0;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 26px;
    left: 22px;
    transform: translateY(-50%);
    border: 1px solid var(--circle);
    cursor: pointer;
}

.circle:hover {
    border: 1px solid var(--check-circle-color-1);
}

.completedTodo .circle {
    background: linear-gradient(
        var(--check-circle-color-1),
        var(--check-circle-color-2)
    );
}

.checkIconIcon {
    padding-left: 5px;
    padding-top: 5px;
    width: 15px;
}

.todoContainer h3 {
    color: var(--text-todo);
    font-family: Josefin Sans;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.167px;
    padding-left: 52px;
    word-break: break-word;
    max-width: calc(100% - 52px);
}

.crossIcon {
    width: 12px;
    height: 12px;
    margin-right: 20px;
    transition: transform 0.3s;
    cursor: pointer;
}

.crossIcon:hover {
    transform: scale(1.3);
}

.completedTodo h3 {
    color: var(--completed-todo);
    text-decoration: line-through;
}

@media (min-width: 1440px) {
    .todoContainer {
        width: 540px;
        min-height: 64px;
    }

    .circle {
        top: 32px;
        left: 24px;
        width: 24px;
        height: 24px;
    }

    .todoContainer h3 {
        color: var(--text-todo);
        font-size: 18px;
        letter-spacing: -0.25px;
        padding-left: 72px;
    }

    .completedTodo h3 {
        color: var(--completed-todo);
    }

    .crossIcon {
        display: none;
        width: 18px;
        height: 18px;
        margin-right: 24px;
    }

    .todoContainer:hover .crossIcon {
        display: inline-block;
    }

    .checkIconIcon {
        padding-left: 6px;
        padding-top: 7px;
        width: 18px;
    }
}
