.buttonContainer {
    margin: 0 auto;
    position: relative;
    top: -26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 327px;
    height: 50px;
    border-radius: 0 0 5px 5px;
    background: var(--bg-todo);
    box-shadow: var(--box-shadow);
}

.buttonContainer h5,
.buttonContainer button {
    color: var(--input-placeholder);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.167px;
    font-family: Josefin Sans;
}

.buttonContainer h5 {
    padding-left: 20px;
}

.buttonContainer button {
    border: none;
    background: var(--bg-todo);
    padding-right: 20px;
}
