.filterContainer {
    margin: 0 auto;
    margin-top: -10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 327px;
    height: 48px;
    border-radius: 5px;
    background: var(--logo-h1);
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
}

.filterContainer h4 {
    color: var(--input-placeholder-light-theme);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.194px;
}

.filterContainer h4:nth-of-type(1) {
    padding-left: 81px;
}

.filterContainer h4:nth-of-type(3) {
    padding-right: 80px;
}
