.todoContainer {
    margin: 0 auto;
    max-width: 375px;
    border: 2px solid green;
}

.imageBackground {
    max-width: 375px;
    min-height: 198px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: var(--bg-image-mobile);
}

.todoWrapper {
    position: relative;
    top: -26px;
}

.background {
    background-color: var(--background);
}

.background h2 {
    padding-top: 40px;
    padding-bottom: 72px;
    text-align: center;
    font-size: 14px;
    letter-spacing: -0.194px;
    font-weight: 400;
    color: var(--input-placeholder);
}
