.todoContainer {
    margin: 0 auto;
    width: 375px;
}

.imageBackground {
    width: 375px;
    height: 198px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: var(--bg-image-mobile);
}

.todoWrapper {
    position: relative;
    top: -26px;
}

.background {
    background-color: var(--background);
}

@media (min-width: 1440px) {
    .todoContainer {
        width: 1440px;
    }

    .imageBackground {
        width: 1440px;
        height: 300px;
        background-image: var(--bg-image-desktop);
    }
}
