@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

/* - Mobile: 375px
- Desktop: 1440px */

:root {
    /* ## Colors */

    /* ### Primary */

    --bright-blue: hsl(220, 98%, 61%);
    --check-circle: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

    /* ### Light Theme */
    --logo-h1: #fff;
    --bg-todo: #fff;
    --input-placeholder: #9495a5;
    --circle: #e3e4f1;
    --text-todo: #494c6b;
    --background: #fafafa;
    --bg-image-mobile: url(./images/bg-mobile-light.jpg);
    --bg-image-desktop: url(./images/bg-desktop-light.jpg);
    --box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);

    /* ### Dark Theme */

    --circle-dark-theme: #393a4b;
    --text-todo-dark-theme: #c8cbe7;
}

.darkTheme {
    --bg-todo: #25273d;
    --input-placeholder: #767992;
    --circle: #393a4b;
    --text-todo: #c8cbe7;
    --bg-image-mobile: url(./images/bg-mobile-dark.jpg);
    --bg-image-desktop: url(./images/bg-desktop-dark.jpg);
    --background: #171823;
    --box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
