.headerContainer {
    margin: 0 auto;
    max-width: 325px;
    padding-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerContainer h1 {
    color: var(--logo-h1);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 10px;
}

.headerContainer img {
    height: 18px;
    cursor: pointer;
}

@media (min-width: 1440px) {
    .headerContainer {
        max-width: 540px;
        padding-top: 72px;
    }

    .headerContainer h1 {
        font-size: 40px;
        letter-spacing: 15px;
    }

    .headerContainer img {
        height: 26px;
    }
}
