.todoContainer {
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 327px;
    height: 52px;
    border-bottom: 1px solid var(--circle);
    background: var(--bg-todo);
    color: var(--text-todo);
}

.firstTodo {
    border-radius: 5px 5px 0 0;
}

.circle {
    position: absolute;
    top: 26px;
    left: 22px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--circle);
}

.circle:hover {
    cursor: pointer;
    border: 1px solid var(--check-circle-color-1);
}

.completedTodo .circle {
    background: linear-gradient(
        var(--check-circle-color-1),
        var(--check-circle-color-2)
    );
}

.checkIconIcon {
    padding-left: 5px;
    width: 15px;
}

.todoContainer h3 {
    color: var(--text-todo);
    font-family: Josefin Sans;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.167px;
    padding-left: 52px;
}

.crossIcon {
    width: 12px;
    height: 12px;
    margin-right: 20px;
    transition: transform 0.3s;
}

.crossIcon:hover {
    cursor: pointer;
    transform: scale(1.3);
}

.completedTodo h3 {
    color: var(--completed-todo);
    text-decoration: line-through;
}
